nav {
    background-color: #121212; 
    display: flex;
    justify-content: center;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700; 
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 20px;
    }

    nav a {
        margin: 10px 0;
    }
}